#central-chamados .alert-warning .badge {
    background-color: #8a6d3b;
}
#central-chamados .alert-info .badge {
    background-color: #31708f;
}
#central-chamados .alert-success .badge {
    background-color: #3c763d;
}
#central-chamados .alert-danger .badge {
    background-color: #a94442;
}